<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodeAcademyContext" connectionString="Data Source = CAS7_T;Initial Catalog = CodeAcademy;Integrated Security = sspi;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>